<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no;">
    <meta name="description" content="make, character, caricature, company">
    <meta name="author" content="O MY BRAND">
	<title>O'MY BRAND</title>
	<!-- icon -->
	<link rel="apple-touch-icon" href="imgs/icon.png">
	<link rel="shortcut icon" href="imgs/icon.png">
	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
	<!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>


    <!–[if lt IE 9]>
    <script src=”http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js”></script>
    <![endif]–>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  	<script type="text/javascript">
	  WebFontConfig = {
		google: { families: [ 'Comfortaa:400,300,700:latin' ] }
	  };
	  (function() {
		var wf = document.createElement('script');
		wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		wf.type = 'text/javascript';
		wf.async = 'true';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(wf, s);
	  })();
    </script>
</head>
<body id="page-top" class="index">
	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="logo">
                        <span onclick="go_top();">
                            <a href="/"><img class="logo-img" img-responsive src="imgs/logo.png"></a>
                         </span>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse " id="bs-example-navbar-collapse-1">
                   <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="#page-top">About</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Services<span class="caret"></span>
                            </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/services">Caricature Ma-kie</a></li>
                                    <li><a href="#" onClick="alert('준비중입니다');">Character Ma-kie</a></li>
                                </ul>
                        </li>
                        <li>
                            <a class="page-scroll" href="/recruit">Recruit</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="http://blog.naver.com/omybrand">Blog</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
    	</div>
        <!--/. navbar-inner-->
    </nav>
    <!-- Header -->
  	<header style="background-image:url(imgs/header2-bg.png)" >
        <div class="container">
            <div class="intro-text">
            	<div id="header_h1">
           			<div class="intro-lead-in">
                    	회사소개
                    </div>
                    <div class="intro-heading">
                    	About Us
                	</div>
                </div>
            </div>
        </div>
    </header>
    <!--/.header-->
	<!--about company Section -->
    <section id="company">
        <div class="container">
         	<div class="col-lg-6 col-md-12 col-sm-12 ci">
            	<img src="imgs/about/ci.png" class="img-responsive">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 company_introduce_title_group">
            	<h1 class="company_introduce_title">O' MY BRAND</h1>
                <h3 class="company_introduce_subtitle">[design and s/w develop company]</h3>
            	<hr>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 company_introduce_article_gruop">
                <!--<h2 class="company_slogan">'Make your brand'</h2>-->
                <p class="company_introduce_article">
                    오마이브랜드는 디자인기술력을 바탕으로 다양한 S/W를 개발하는<br> 용산에 위치한 디자인/ IT회사입니다.<br>
                    중소기업청과 창업진흥원, 서울산업통상진흥원,서울시, SK플래닛 등의<br>
                    기관들로부터 그 가능성을 검증 받았으며,<br>
                    정부기관과 지자체등이 주최한 창업경진대회 수상과<br>
                    지원사업에 선정되어 기대와 지원을 받고있습니다.
                </p>
            </div>
            <!--<div class="col-lg-12 vision_mission">
                <div class="col-lg-6 vision">
                	<img class="img-responsive" src="imgs/about/8.png">
                    <h4 class="vision_mission_title">VISION</h4>
                    <p class="text-muted vision_mission_article">
                        디자인과 기술력을 융합하여, 생활속 디자인 가치 향상과<br>
                        글로벌을 목표로 대한민국의 문화산업 발전을 도모하는 것.
                    </p>
                </div>
                <div class="col-lg-6 mission">
                	<img class="img-responsive" src="imgs/about/7.png">
                    <h4 class="vision_mission_title">MISSION</h4>
                    <p class="text-muted vision_mission_article">
                        일반인들에게 디자인기술력을 손쉽게 사용할 수 있게하고<br>
                        디자이너들에게는 편리함과 더욱 넓은 기회를 제공하는 것.
                    </p>
                </div>
            </div>-->
        </div>
    </section>
    <!--/.about company 끝-->
    <!-- 오마이브랜드 연혁 section-->
    <section  id="history" class="bg-light-mint">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 id="w_text" class="section-heading">History</h2>
                    <h3 id="w_text" class="section-subheading text-muted korean">오마이브랜드 연혁</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="imgs/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel w_text">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading korean">O'MY BRAND 설립</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted w_text korean">
                                    	July. 서울시 청년창업 1000프로젝트 5기<br>
                                    	November. 서울시 우수창업자 30팀에 선정<br>
                                        December. 중소기업청 창업진흥원 창업경진대회<br>본선"최우수상"
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="imgs/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel w_text">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading korean">다양한 수상경력</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted w_text korean">
                                    	Janurary. PICK ME UP 창업경진대회"우수상"<br>
                                        February. 중소기업청 우수창업 사레집<br>"창업 DNA를 깨워라!"우수창업사례 수록<br>
                                        May. T아카데미 전문가과정 "최우수상"<br>
                                        June. 중소기업청 창업진흥원 국가과제 지원사업 선정<br>
                                        November. YTN사이언스 "창업런웨이" 강연<br>
                                        November. K-PITCH 전국 기술사업화 경진대회 "우수상"
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="imgs/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel w_text">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading korean">캐리커쳐마키출시!</h4>
                                </div>
                                <div class="timeline-body korean">
                                     <p class="text-muted w_text">
                                      	November. 캐리커쳐마키 어플리케이션 출시
                                        <br>
                                     </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>To<br>be<br>Continued</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--/.오마이브랜드 연혁 section 끝-->
    <!--컨택 section-->
    <section id="contact" >
        <!--지도-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted korean">찾아오시는 길</h3>
                </div>
            </div>
            <div class="row map" id="map">
                <div class="col-md-12">
                    <center>
                        <img src="imgs/map.jpeg" class="img-responsive hidden-xs">
                    </center>
                </div>
            </div>
        </div>
        <!--/.지도 끝-->
        <!--모바일용 주소안내-->
        <div class="row hidden-lg hidden-md hidden-sm">
        	<div class="col-md-12">
				<div class="text_maps korean text-center">
                    	<div class="car_map">
                            <img src="imgs/about/car.png">
                            <h3 class="text_maps_heading">자가용 이용시</h3>
                            <hr class="map_hr">
                            <p class="text_maps_article">경기도 성남시 수정구 금토동 판교 창조경제밸리 <br>기업지원허브 창업존 글로벌스마트창작터 G748호<br><span class="company_name">[오마이브랜드]</span></p>
                        </div>
                        <div class="public_map">
                            <!--<h3 class="text_maps_heading">대중교통 이용시</h3>-->
                            <div class="bus_map">
                                <img src="imgs/about/bus.png">
                                <h3 class="text_maps_heading">버스 이용시</h3>
                                <hr class="map_hr">
                                <div class="subway_map1 public_article">
                                    <h4 class="text_maps_subheading">[모란역 하차]</h4>
                                    <p class="text_maps_article">11-1(모란역.모란시장입구.풍생고) 승차 후<br> 주류창고앞 정류장에서 하차</p>
                                </div>
                                <div class="subway_map2 public_article">
                                    <h4 class="text_maps_subheading">[청계산입구역 하차]</h4>
                                    <p class="text_maps_article">4432(청계산입구역) 승차 후<br>11-1(상적2통, 청계주유소) 환승 후<br>금토동삼거리 정류장에서 하차</p>
                                </div>
                            </div>
                        </div>
                    </div>

             </div>
        </div>
        <!--/.모바일용 주소안내 끝-->
    </section>
    <!--/.컨택 section-->
	<!--footer-->
    <footer>
    	<!--footer_main-->
        <div class="footer_main">
            <div class="container" id="footer_main">
                <div class="contact_us col-md-6">
                    <h5 class="footer_title">CONTACT US</h5>
                    <hr class="footer_hr">
                    <div class="footer_icon">
                        <i class="fa fa-home fa-2x fa-inverse korean">&nbsp;경기도 성남시 수정구 금토동 판교 창조경제밸리 기업지원허브 글러벌스마트창작터G748호</i>
                    </div>
                    <div class="footer_icon">
                        <i class="fa fa-phone fa-2x fa-inverse">&nbsp;&nbsp;<span class="footer_tel">07046805217</span></i>
                    </div>
                    <div class="footer_icon">
                        <i class="fa fa-envelope fa-2x fa-inverse">&nbsp;&nbsp;my@omybrand.com</i>
                    </div>
                    <div class="footer_icon">
                        <i class="fa fa-user fa-2x fa-inverse korean">&nbsp;&nbsp;대표자: 심성규</i>
                    </div>
                    <div class="footer_icon">
                        통신판매업신고번호: 2018-성남수정-0024
                    </div>
                    <div class="footer_icon">
                        벤처기업인증 : 제 20150101909 호
                    </div>
                </div>
                <div class="stay_connected col-md-6">
                    <h5 class="footer_title">STAY CONNECTED</h5>
                    <hr class="footer_hr">
                    <div class="footer_icon">
                        <div class="footer_social_icon col-lg-1 col-md-1 col-sm-1 col-xs-3 visible-xs">
                            <a href="tel:07046805217"><i class="social_phone fa fa-phone  fa-5x fa-inverse"></i></a><p class="korean_w">전화걸기</p>
                        </div>
                        <div class="footer_social_icon col-lg-1 col-md-1 col-sm-1 col-xs-3">
                            <a href="https://ko-kr.facebook.com/OMyBrand"><i class="fa fa-facebook  fa-5x fa-inverse"></i></a><p class="korean_w visible-xs">페이스북</p>
                        </div>
                        <div class="footer_social_icon col-lg-1 col-md-1 col-sm-1 col-xs-3">
                            <a href="http://blog.naver.com/omybrand"><img class="blog_icon" src="imgs/about/blog.png"></a><p class="korean_w visible-xs">블로그</p>
                        </div>
                        <div class="footer_social_icon col-lg-1 col-md-1 col-sm-1 col-xs-3">
                            <a href="http://goto.kakao.com/ged7wt6k"><img class="kakao_icon" src="imgs/about/kakao.png"></a><p class="korean_w visible-xs">옐로ID</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.footer_main end-->
        <!--copyright-->
        <div class="copyright">
           	Copyright &copy; O'MY BRAND 2014
        </div>
        <!--/.copyright end-->
    </footer>
    <!--/.footer end-->
	<!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>
	<!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!--<script src="js/classie.js"></script>-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
   <script src="js/classie.js"></script>
   <script src="js/cbpAnimatedHeader.js"></script>

   <!-- Contact Form JavaScript -->
   <script src="js/jqBootstrapValidation.js"></script>
   <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>
	<span onclick="go_top();">
		<div class="up hidden-xs">
           	<button type="button" class="btn btn-group-vertical">
            	<i class="fa fa-chevron-up fa-2x fa-mint">Top</i>
            </button>
        </div>
    </span>
</body>
</html>
