<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->

<html class="no-js" lang="">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


<title>오 마이 브랜드</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">    
<meta name="generator" content="NXM" />
<!--[if lt IE 9]>

<![endif]-->

<link rel="stylesheet" href="/assets/css/common.css?ver=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.0/dropzone.css">
<link rel="stylesheet" href="/assets/css/main.css?ver=1">
<link rel="stylesheet" href="/assets/page/join.css?ver=2">
</head>
<body class="bg_color1">
	<div id="registraion" class="nxm_artist_registration_contents">
		<div class="artist_registration_header">
			<div>작가등록</div>
			<div class="steps-bar">
				<ul class="steps-indicator">
					<li class="current">
						<div>
							<a href="">회원가입/로그인</a>
						</div>
					</li>

					<li class="default">
						<div>
							<a href="">포트폴리오 확인</a>
						</div>
					</li>

					<li class="default">
						<div>
							<a href="">작가정보 및 계약 작성</a>
						</div>
					</li>
					<li class="default">
						<div>
							<a href="">등록 완료</a>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="nxm_login_contents">
				<div class="nxm_login_container">

		<div class="artist_registration_portfolio">
			<div class="r_basic r_portfolio_text">
				<h2>로그인</h2>
			</div>

		</div>

					<form>
						<input class="login_id" type="email" name="id" placeholder="이메일">
						<input type="password" name="password" placeholder="비밀번호">
						<div class="id_remember">
							<input type="checkbox" id="keepJoin" name="keepJoin"><label for="keepJoin">로그인 상태 유지</label>
						</div>

						<span class="comm_btn"><input type="submit" title="로그인" alt="로그인" value="로그인" class=""></span>

					</form>


					<div class="forget">
						<a href="/apply/find_password">
							비밀번호 찾기
						</a>
						<a href="/apply/signup">
							회원가입
						</a>
					</div>
					
					<div style="display: none;" class="other_login">
						<a href="#" class="link_kakao">
							<span>카카오계정으로 로그인</span>
						</a>
						<a href="#" class="link_naver">
							<span>네이버계정으로 로그인</span>
						</a>
					</div>
					<div class="copyright">
			<p>© OMYBRAND Inc.</p>
			<a href="#">고객센터</a>
		</div>		</div>
			</div>


	</div>


</body>
</html>