
	<header id="nxmHeader">
		<div class="nxm_header_container login_header_custon">
			<div class="nxm_logo logo_center">
				<a href="index.php"><img src="/assets/img/logo.png"></a>
			</div>
			<select class=" select_language">
				<option>한국어</option>
				<option>English</option>
				<option>中文(简体)</option>
				<option>中文(台灣)</option>
				<option>日本語</option>
			</select>
		</div>

	</header>