    <!--footer-->
    <footer>
    	<!--footer_main-->
        <div class="footer_main">
            <div class="container" id="footer_main">
                <div class="contact_us col-md-6">
                    <h5 class="footer_title">CONTACT US</h5>
                    <hr class="footer_hr">
                    <div class="footer_icon">
                        <i class="fa fa-home fa-2x fa-inverse korean">&nbsp;경기도 성남시 수정구 금토동 판교 창조경제밸리 기업지원허브 글러벌스마트창작터G748호</i>
                    </div>
                    <div class="footer_icon">
                        <i class="fa fa-phone fa-2x fa-inverse">&nbsp;&nbsp;<span class="footer_tel">07046805217</span></i>
                    </div>
                    <div class="footer_icon">
                        <i class="fa fa-envelope fa-2x fa-inverse">&nbsp;&nbsp;my@omybrand.com</i>
                    </div>
                    <div class="footer_icon">
                        <i class="fa fa-user fa-2x fa-inverse korean">&nbsp;&nbsp;대표자: 심성규</i>
                    </div>
                    <div class="footer_icon">
                        통신판매업신고번호: 2018-성남수정-0024
                    </div>
                    <div class="footer_icon">
                        벤처기업인증 : 제 20150101909 호
                    </div>
                </div>
                <div class="stay_connected col-md-6">
                    <h5 class="footer_title">STAY CONNECTED</h5>
                    <hr class="footer_hr">
                    <div class="footer_icon">
                        <div class="footer_social_icon col-lg-1 col-md-1 col-sm-1 col-xs-4 visible-xs">
                            <a href="tel:07046805217"><i class="social_phone fa fa-phone  fa-5x fa-inverse"></i></a><p class="korean_w">전화걸기</p>
                        </div>
                        <div class="footer_social_icon col-lg-1 col-md-1 col-sm-1 col-xs-4">
                            <a href="https://ko-kr.facebook.com/OMyBrand"><i class="fa fa-facebook  fa-5x fa-inverse"></i></a><p class="korean_w visible-xs">페이스북</p>
                        </div>
                        <div class="footer_social_icon col-lg-1 col-md-1 col-sm-1 col-xs-4">
                            <a href="http://blog.naver.com/omybrand"><img class="blog_icon" src="imgs/about/blog.png"></a><p class="korean_w visible-xs">블로그</p>
                        </div>
                        <div class="footer_social_icon col-lg-1 col-md-1 col-sm-1 col-xs-3">
                            <a href="http://goto.kakao.com/ged7wt6k"><img class="kakao_icon" src="imgs/about/kakao.png"></a><p class="korean_w visible-xs">옐로ID</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.footer_main end-->
        <!--copyright-->
        <div class="copyright">
           	Copyright &copy; O'MY BRAND 2014
        </div>
        <!--/.copyright end-->
    </footer>
    <!--/.footer end-->