<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no;">
    <meta name="description" content="make, character, caricature, company">
    <meta name="author" content="O MY BRAND">
    <title>O'MY BRAND</title>
	<!-- icon -->
	<link rel="apple-touch-icon" href="imgs/icon.png">
	<link rel="shortcut icon" href="imgs/icon.png">
	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
	<!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>

    <!–[if lt IE 9]>
    <script src=”http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js”></script>
    <![endif]–>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  	<script type="text/javascript">
	  WebFontConfig = {
		google: { families: [ 'Comfortaa:400,300,700:latin' ] }
	  };
	  (function() {
		var wf = document.createElement('script');
		wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		wf.type = 'text/javascript';
		wf.async = 'true';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(wf, s);
	  })();
    </script>
</head>
<body id="page-top" class="index">
	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="logo">
                        <span onclick="go_top();">
                            <img class="logo-img" img-responsive src="imgs/logo.png">
                        </span>
                    </div>
                </div>
    			<!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                   <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#page-top">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/about">About</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/services">Caricature Ma-kie</a></li>
                                <li><a href="#" onClick="alert('준비중입니다');">Character Ma-kie</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="page-scroll" href="/recruit">Recruit</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="http://blog.naver.com/omybrand">Blog</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
    	</div>
        <!--/. navbar-inner-->
    </nav>
	<!-- Header -->
  	<header style="background-image:url(imgs/header-bg1.png)">
        <div class="container">
            <div class="intro-text">
            	<div id="header_h1">
           			<div class="intro-lead-in">
                    	Welcome to O'MY BRAND
                    </div>
           	    	<div class="intro-heading">
                    	Make Your<br>Brand!
                	</div>
                    <div id="header_btn">
            			 <a href="#news" class="page-scroll btn btn-xl" id="red_btn">click</a>
                    </div>
                </div>
                <!--/.header h1 end-->
            </div>
            <!--/.intro-text end-->
        </div>
        <!--/.container end-->
    </header>
    <!--/.header end-->
    <!-- 서비스 소개section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div id="make">
                    <h2 class="section-heading">News</h2>
                    <h3 class="section-subheading text-muted korean">오마이브랜드 새소식</h3>
                    </div>
                 </div>
            </div>
            <div class="row">
                <div class="col-sm-6 portfolio-item">
                  <a href="https://play.google.com/store/apps/details?id=com.omybrand" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="index_news_img">
                        	<img src="imgs/portfolio/app_relese_2.png" class="img-responsive" alt="">
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="korean">캐리커쳐마키 출시!!</h4>
                        <hr class="small">
                        <p class="text-muted korean">구글 플레이와 티스토어에 캐리커쳐마키 앱이 출시되었습니다!</p>
                    </div>
                </div>
<!--                 <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="/recruit" class="portfolio-link">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="index_news_img">
                        	<img src="imgs/portfolio/recruit_2.png" class="img-responsive" alt="">
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="korean">인재채용</h4>
                        <hr class="small">
                        <p class="text-muted korean">오마이브랜드를 함께 이끌어나갈 유능한 인재를 모집합니다.</p>
                    </div>
                </div> -->
                <div class="col-sm-6 portfolio-item">
                    <a href="/recruit" class="portfolio-link" >
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="index_news_img">
                        	<img src="imgs/portfolio/wanted.png" class="img-responsive" alt="">
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="korean">작가모집</h4>
                        <hr class="small">
                        <p class="text-muted korean">캐리커쳐마키에서 같이 활동하실 유능한 캐리커쳐 작가님들을 모집합니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include footer.ejs %> 

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>
	<!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!--<script src="js/classie.js"></script>-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
   	<script src="js/classie.js"></script>
   	<script src="js/cbpAnimatedHeader.js"></script>
	<!-- Contact Form JavaScript -->
   	<script src="js/jqBootstrapValidation.js"></script>
   	<script src="js/contact_me.js"></script>
	<!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>
	<span onclick="go_top();">
		<div class="up hidden-xs">
           	<button type="button" class="btn btn-group-vertical">
            	<i class="fa fa-chevron-up fa-2x  fa-mint">Top</i>
            </button>
        </div>
    </span>
</body>
</html>
