<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no;">
    <meta name="description" content="make, character, caricature, company">
    <meta name="author" content="O MY BRAND">
	<title>O'MY BRAND</title>
	<!-- icon -->
	<link rel="apple-touch-icon" href="imgs/icon.png">
	<link rel="shortcut icon" href="imgs/icon.png">
	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
	<!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!–[if lt IE 9]>
    <script src=”http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js”></script>
    <![endif]–>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Comfortaa:400,300,700:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
</head>
<body id="page-top" class="index">
	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="logo">
                        <span onclick="go_top();">
                            <a href="/"><img class="logo-img" img-responsive src="imgs/logo.png"></a>
                         </span>
                    </div>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse " id="bs-example-navbar-collapse-1">
                   <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Services<span class="caret"></span>
                            </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/services">Caricature Ma-kie</a></li>
                                    <li><a href="#" onClick="alert('준비중입니다');">Character Ma-kie</a></li>
                                </ul>
                        </li>
                        <li>
                            <a href="#page-top">Recruit</a>
                        </li>
                        <li>
                            <a href="http://blog.naver.com/omybrand">Blog</a>
                        </li>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
            <!--/.container-fluid -->
    	</div>
        <!--/.navbar-inner-->
    </nav>
    <!-- Header -->
  	<header style="background-image:url(imgs/header2-bg.png)" >
        <div class="container">
            <div class="intro-text">
            	<div id="header_h1">
           			<div class="intro-lead-in">
                    	작가모집
                    </div>
                    <div class="intro-heading">
                    	Recruit Artists
                	</div>
                </div>
            </div>
        </div>
    </header>
    <!--/.header-->
	<!-- 서비스 소개section -->
    <section id="portfolio">
        <div class="container">
            <div class="row about_incruit">
                <div class="col-lg-12 col-md-12 col-sm-12">
                	<div class="incruit_heading text-center">
                        <img src="imgs/logo2.png" class="img-responsive " />
                        <h1 class="incruit_h1 korean">저희 오마이브랜드에서 능력있는 캐리커쳐 작가님을 모집합니다.</h1>
                    </div>


                    <!--임시 지원양식-->
                    <div class="incruit_temp">


                        <hr>
                        <div class="text-center">

                            <h2 class="korean">캐리커쳐 작가 지원하기</h2>
                            <p>오마이브랜드와 함께 전세계의 캐리커쳐 아트 시장에 도전할 작가님들을 모집합니다.</p>

                            <div class="" style="margin-top: 30px;">
                                <a onclick="javascript:alert('준비중!')" class="btn btn-primary btn-lg">작가 지원신청서 작성</a>
                            </div>  


                        </div>

                        <hr>


                    	<h3 class="korean">이메일로 지원하기</h3>
                        <h4 class="email">our@omybrand.com</h5>
                        <p class="korean">하단에 명시한 파일들을 첨부하여 상단의 메일로 보내주시기 바랍니다.</p>
                        <p class="korean">
                        	<strong>[첨부파일]</strong><br>
                            1.포트폴리오:프로젝트별 역할 및 참여도 상세기재(web 포트폴리오의 경우 URL기재)<br>
                            2.이력서 및 자기소개서<br>
                        </p>
                    </div>
                    <!--/.임시 지원양식 end-->
                 </div>
            </div>
        </div>
    </section>
    <!--/.section end-->
    <!--footer-->
    <footer>
    	<!--footer_main-->
        <div class="footer_main">
            <div class="container" id="footer_main">
                <div class="contact_us col-md-6">
                    <h5 class="footer_title">CONTACT US</h5>
                    <hr class="footer_hr">
                    <div class="footer_icon">
                        <i class="fa fa-home fa-2x fa-inverse korean">&nbsp;경기도 성남시 수정구 금토동 판교 창조경제밸리 기업지원허브 글러벌스마트창작터G748호</i>
                    </div>
                    <div class="footer_icon">
                        <i class="fa fa-phone fa-2x fa-inverse">&nbsp;&nbsp;<span class="footer_tel">07046805217</span></i>
                    </div>
                    <div class="footer_icon">
                        <i class="fa fa-envelope fa-2x fa-inverse">&nbsp;&nbsp;my@omybrand.com</i>
                    </div>
                    <div class="footer_icon">
                        <i class="fa fa-user fa-2x fa-inverse korean">&nbsp;&nbsp;대표자: 심성규</i>
                    </div>
                    <div class="footer_icon">
                        통신판매업신고번호: 2018-성남수정-0024
                    </div>
                    <div class="footer_icon">
                        벤처기업인증 : 제 20150101909 호
                    </div>
                </div>
                <div class="stay_connected col-md-6">
                    <h5 class="footer_title">STAY CONNECTED</h5>
                    <hr class="footer_hr">
                    <div class="footer_icon">
                        <div class="footer_social_icon col-lg-1 col-md-1 col-sm-1 col-xs-4 visible-xs">
                            <a href="tel:07046805217"><i class="social_phone fa fa-phone  fa-5x fa-inverse"></i></a><p class="korean_w">전화걸기</p>
                        </div>
                        <div class="footer_social_icon col-lg-1 col-md-1 col-sm-1 col-xs-4">
                            <a href="https://ko-kr.facebook.com/OMyBrand"><i class="fa fa-facebook  fa-5x fa-inverse"></i></a><p class="korean_w visible-xs">페이스북</p>
                        </div>
                        <div class="footer_social_icon col-lg-1 col-md-1 col-sm-1 col-xs-4">
                            <a href="http://blog.naver.com/omybrand"><img class="blog_icon" src="imgs/about/blog.png"></a><p class="korean_w visible-xs">블로그</p>
                        </div>
                        <div class="footer_social_icon col-lg-1 col-md-1 col-sm-1 col-xs-3">
                            <a href="http://goto.kakao.com/ged7wt6k"><img class="kakao_icon" src="imgs/about/kakao.png"></a><p class="korean_w visible-xs">옐로ID</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.footer_main end-->
        <!--copyright-->
        <div class="copyright">
           	Copyright &copy; O'MY BRAND 2014
        </div>
        <!--/.copyright end-->
    </footer>
    <!--/.footer end-->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!--col-lg-12-->
                    <div class="col-lg-12 korean">
                        <!--modal-body-->
              <!--      <div class="modal-body">
                            <h1 class="incruit_h1 korean">입사지원하기</h1>
                            <hr>
                            <img src="imgs/incruit-header.png" class="img-responsive hidden-xs">
                            <h2 class="section-heading   hidden-lg hidden-md hidden-sm">MAKE YOUR BRNAD<br>O'MY BRAND</h2>
                            <br>
                            <br>
                            <!--incruit-->
                      <!--  <div class="incruit">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label><h5 class="koran">성명</h5></label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label><h5 class="koran">이메일</h5></label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label><h5 class="koran">전화번호</h5></label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input class="form-control" placeholder="-를 제외한 번호만을 입력해주세요" type="tel">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label><h5 class="koran">지원분야</h5></label>
                                        </div>
                                        <div class="col-lg-10">
                                            <select class="form-control">
                                                <option>디자이너</option>
                                                <option>개발자</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2">
                                            <label><h5 class="koran">이력서 첨부</h5></label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input type="file">
                                        </div>
                                    </div>
                                    <hr>
                                    <h5 class="email_address">my@omybrand.com</h5>
                                    <p class="korean">기타 문의사항은 이메일로 연락바랍니다.</p>
                                    <button type="submit" class="btn btn-xl" id="mint_btn" >지원하기</button>
                                </form>
                            </div>
                            <!--/.incruit end-->
                   		</div>
                        <!--/.modal-body end-->
                	</div>
                    <!--/.col-lg-12 end-->
           	 	</div>
                <!--/.row end-->
        	</div>
            <!--/.container end-->
    	</div>
        <!--/.modal-content end-->
    </div>
    <!--/.portfolio-modal end-->
    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>
	<!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!--<script src="js/classie.js"></script>-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
	<!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
	<!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>
	<!--<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>-->
	<span onclick="go_top();">
		<div class="up hidden-xs">
           	<button type="button" class="btn btn-group-vertical">
            	<i class="fa fa-chevron-up fa-2x fa-mint">Top</i>
            </button>
        </div>
    </span>
</body>
</html>
